@*@model IEnumerable<RabbitApplication.Models.JobProfileModel>

@{
	ViewData["Title"] = "Careers";
	Layout = "~/Views/Shared/_GuestLayout.cshtml";
}


<main id="main">
	<br /><br />
	<section id="values" class="values">
		<div class="container" data-aos="fade-up">
			<header class="section-header">
				<h2>Open Positions</h2>
				<p>We are always looking for creative, talented and passionate people.</p>
			</header>

			<div class="row">
				@foreach (var item in Model)
				{
					<div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
						<div class="box">
							<img src="~/Website/assets/img/values-1.png" class="img-fluid" alt="">
							<h3>@Html.DisplayFor(modelItem => item.Name)</h3>
						
							<span style="">
								<a href="@Url.Action("CareersDetails","JobProfile", new {id = item.JobProfileId})" class="btn-sm btn-primary pull-right"> View Details </a>
								&nbsp

							
							</span>
						</div>
					</div>

				}

			</div>
		</div>
	</section>
</main>



*@