
@{
    ViewData["Title"] = "FileUpload";
    Layout = "~/Views/Shared/_GuestLayout.cshtml";
}

<h1>Upload Files</h1>

<hr/>

<form method="post" enctype="multipart/form-data" asp-controller="JobProfile" asp-action="FileUpload">
     <div class="form-group">
        <div class="col-md-10">
            <select name="fileType" >
                <option>Other</option>
                <option>Adhar Card</option>
                <option>Voting Card</option>
                <option>Resume</option>
            </select>
         
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="file" name="files"  />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" class="btn-primary" value="Upload" />
        </div>
    </div>
</form>