 <div class="container">
        <br />
        <div style="width:90%; margin:0 auto;">
            <div class="modal-body mx-3">
                <div style="width:100%; margin:0 auto;">
                    <table id="" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th> Student Name</th>
                                <th>Book Name</th>
                                <th>Bar Code</th>
                                <th>Borrowed Date</th>
                                <th>Book Returned Date</th>
                                <th>Due Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> Mahesh Patil</td>
                                <td>Book-1</td>
                                <td>B -1</td>
                                <td>22-June-2022</td>
                                <td>23-June-2022</td>
                                <td>24-June-2022</td>
                            </tr>
                            <tr>
                                <td> Mahesh Patil</td>
                                <td>Book-2</td>
                                <td>B -2</td>
                                <td>22-June-2022</td>
                                <td> </td>
                                <td>24-June-2022</td>
                                <td> <button class="btn btn-primary" type="submit" id="post" data-dismiss="modal"><span></span>Return</button></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
