
<ul class="navbar-nav">

   @* <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>*@

    <li class="nav-item">
        <a class="nav-link text-dark" href="@Url.Action("Register","User")" >Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark"  href="@Url.Action("Login","User")" >Login</a>
    </li>

</ul>
