@using RabbitApplication.Helpers
@using RabbitApplication.Models
@model RabbitApplication.Models.CandidateModel
@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


	

<div>
	@Html.Partial("_Design", Model)
</div>