@model IEnumerable<RabbitApplication.Entity.CandidateFile>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Files</h1>

<br/><br/>

<br/><br/>
<table class="table">
	<thead>
		<tr>
			<th>
				File Name
			</th>
			<th>
				File Type
			</th>

			<th>
				Uploaded Date
			</th>
			<th>
				View Files
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>

				<td>
					@Html.DisplayFor(modelItem => item.FileType)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Createddate)
				</td>
				<td>
					<a href=""> View File</a>
				</td>

			</tr>
		}
	</tbody>
</table>
