@{
	ViewData["Title"] = "Job Apply Success";
	Layout = "~/Views/Shared/_GuestLayout.cshtml";
}

<div style="margin-top"20px;">
	<center>
		<h1>
			Your Job application has been successfully submited.
		</h1>
	</center>
</div>